<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="org.paldo.mapper.CartMapper">

	<!-- 카트 추가 -->
	<insert id="addCart">
	
		insert into shop_cart(memberId, productId, cartCount)
		values(#{memberId}, #{productId}, #{cartCount}) 
	
	</insert>
	
	
	<!-- 카트 삭제 -->
	<delete id="deleteCart">
	
		delete from shop_cart where cartId = #{cartId}
	
	</delete>
	
	<!-- 카트 수량 수정 -->
	<update id="modifyCount">
	
		update shop_cart set cartCount=#{cartCount} where cartId = #{cartId}
	
	</update>
	
	
	<!-- 카트 목록 -->
	<select id="getCart" resultType="org.paldo.domain.CartDTO">
	
		select a.cartId, a.memberId, a.productId, a.cartCount, b.regDate, b.lastUpdate
		from shop_cart a left outer join shop_product b on a.productId = b.productId
		where memberId = #{memberId}	
	
	</select>
	
	<!-- 카트 확인 -->
	<select id="checkCart" resultType="org.paldo.domain.CartDTO">
	
		select * from shop_cart 
		where memberId = #{memberId} and productId = #{productId}
	
	</select>
	
	
  </mapper>